:root{
  --color1: #599697;
  --color2: #252525;
}

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Josefin+Sans:ital,wght@0,400;0,700;1,700&family=Merriweather:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#upper-section{
  background-color: var(--color1);
  color: white;
  display: flex;
  padding: 5px 20px;
}

.button{
  position: absolute;
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  top: 25px;
  opacity: 0.6;
}
.button:hover{
  opacity: 1;
}
.button.active{
  opacity: 1;
}
.btn-row{
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: white;
}


.nav-flex{
  width: 100%;
  justify-content: center;
  display: inline-flex;
  margin: 0 auto;
}
.nav-container{
  width: 200px;
  display: inline-flex;
  margin: 0 auto;
}
.nav-container div {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  font-size: 1.3rem;
}
.nav-container div a{
  color: inherit;
  transition: all 0.3s ease-out;
}
.gh-container a:hover, .in-container a:hover{
  font-size: 40px;
}
.gh-container{
  text-align: right;
}
.fa-github{
  padding-right: 10px;
}

.fa-linkedin{
  padding-left: 10px;
}

.home-container{
  text-align: center;
}

.home-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: fill;
  border: 2px solid transparent;
  transition: all 0.3s;
}
.home-img:hover{
  border-color: white;
}

#content{
  display: flex;
  justify-content: center;
}

.right-section, .left-section{
  display: inline-block;
  width: 100%;
}
.left-section{
  flex:1.3;
  background-color:var(--color2);
  color: white;
}
.right-section{
  flex: 4;
  padding: 20px 20px;
}


.profile-container{
  padding: 30px 40px;
}
.profile-img{
  background-image: url('img/foto-perfil.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.profile-container.mobile{
  display: none;
  width: 50%;
  margin: 0 auto 20px;
  padding: 0;
}

.projects-container{
  padding: 10px 0;
}
.projects-container p, .projects-list li{
  padding: 0 20px;
}
.projects-list{
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.projects-list li{
  padding: 10px;
  color: #ffffff77;
  transition: all 0.6s ease-out;
}
.projects-list li:hover{
  background-color: black;
  color: white;
}
.project-link, .project-link:hover{
  color: inherit;
  text-decoration: none;
}

#spela:hover::after{
  content: "🫓";
}
#spela:hover::before{
  content: "🍔";
}

#izyfile:hover::after, #izyfile:hover::before{
  content: "🧊";
}
#chans:hover::after, #chans:hover::before{
  content: "🍀";
}

.project-comming{
  color: #ffffffc2 !important;
  cursor: default;
}
.project-comming:hover::after, .project-comming:hover::before{
  content: " 💤";
}

.name-info{
  padding: 50px 0 0;
  margin-bottom: 5%;
}

.name-info h2{
  font-family: 'Montserrat', sans-serif;
}
.name-info h4{
  font-family: 'Merriweather', serif;;
  font-style: italic;
}

.about-container p{
  font-size: 1.1rem;
}

.column-container{
  display: flex;
  width: 100%;
}

.skills-grid{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.skills-names .skill{
  height: 40px;
}
.skill{
  display: flex;
}
.skill span{
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}
.skill-rate{
  display: inline-block;
  height: 40px;

  width: 100%;
  margin-left: 10px;
  background-color: black;
  -webkit-mask-image: url(./img/rating.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left;
  -webkit-mask-size: 80px 80px;
  mask-image: url(./img/rating.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: fill;
}
.rating-stars{
  height: 100%;
  object-fit: cover;
}
.filler{
  height: 100%;
  width: 0;
  background-color: #c71d17;
  transition: all 0.5s ease-out;
}

#html-skill.active{
  width: 56px
}

#css-skill.active{
  width: 47px;
}
#js-skill.active{
  width: 47px;
}
#ajax-skill.active{
  width: 40px;
}
#node-skill.active{
  width: 57px;
}
#express-skill.active{
  width: 47px;
}
#php-skill.active{
  width: 38px;
}
#react-skill.active{
  width: 40px;
}
#sql-skill.active{
  width: 56px;
}
#mongo-skill.active{
  width: 48px;
}

#footer{
  background-color: #111111;
  color: white;
  text-align: center;
  padding: 20px 30px;
}
#footer h4{
  margin: 10px 0px 30px;
  font-size: 1.3rem;
}
.contact{
  color: #ffffff98;
  width: max-content;
  margin: 0 auto;
  cursor: default;
}
.contact:hover{
  color: inherit
}
.funny-emoji{
  margin: 10px 0px 0px;
  opacity: 0.3;
}

@media (max-width: 900px){
  #content{
    display: block;
  }
  .button{
    display: flex;
  }
  #upper-section{
    position: relative;
    z-index: 10;
  }
  
  .left-section{
    top: -260px;
    position: absolute;
    max-height: 0;
    z-index: 2;
    transition: 0.4s;
  }
  .left-section.active{
    position: relative;
    max-height: 1685px;
    top: 0;
  }

  .right-section{
    position: relative;
    z-index: -2;
  }
  .profile-container{
    display: none;
  }
  .profile-container.mobile{
    display: block;
    width: 30%;
  }
  .column-container{
    width: max-content;
    margin: 0 auto;
  }

  #spela::after{
    content: "🫓";
  }
  #spela::before{
    content: "🍔";
  }
  
  #izyfile::after, #izyfile::before{
    content: "🧊";
  }
  #chans::after, #chans::before{
    content: "🍀";
  }
  .projects-list li{
    color: white;
  }
}

@media (max-width: 763px){
  .column-container{
    display: block;
  }
  .profile-container.mobile{
    width: 50%;
  }
  .name-info{
    text-align: center;
  }
}